<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="campaign">
      <h2 data-cy="campaignDetailsHeading"><span jhiTranslate="linkedinSkanerApp.campaign.detail.title">Campaign</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ campaign.id }}</span>
        </dd>
        <dt><span jhiTranslate="linkedinSkanerApp.campaign.title">Title</span></dt>
        <dd>
          <span>{{ campaign.title }}</span>
        </dd>
        <dt><span jhiTranslate="linkedinSkanerApp.campaign.message">Message</span></dt>
        <dd>
          <span>{{ campaign.message }}</span>
        </dd>
        <dt><span jhiTranslate="linkedinSkanerApp.campaign.description">Description</span></dt>
        <dd>
          <span>{{ campaign.description }}</span>
        </dd>
        <dt><span jhiTranslate="linkedinSkanerApp.campaign.isActive">Is Active</span></dt>
        <dd>
          <span>{{ campaign.isActive }}</span>
        </dd>
        <dt><span jhiTranslate="linkedinSkanerApp.campaign.created">Created</span></dt>
        <dd>
          <span>{{ campaign.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="linkedinSkanerApp.campaign.updated">Updated</span></dt>
        <dd>
          <span>{{ campaign.updated | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/campaign', campaign.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
